<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand" href="/">Soundboard</a>

  <div id="navbarSupportedContent">
    <div class="form-inline my-2 my-lg-0 float-right">
      <input [(ngModel)]="search" class="form-control mr-sm-2 search" type="search" placeholder="Zoeken" aria-label="Zoeken">
      <button class="btn btn-outline-info my-2 my-sm-0" (click)="addSound()"><span class="fa fa-plus"></span></button>
    </div>
  </div>
</nav>

<app-sound *ngFor="let sound of sounds | filter : 'name' : search" [sound]="sound"></app-sound>
